* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .page-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .page-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  body {
    width: 100%;
    height: 100%;
    font-family: PT Serif;
  }
  
  main {
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
  }
  
  p {
    text-align: justify;
  }
  
  ol li {
    justify-content: center;
    align-items: center;
    display: flex;
    border-right: 2px solid;
    padding: 10px;
  }
  
  ol li:last-child {
    border-right: none;
  }
  
  .link {
    text-decoration: none;
    color: white;
    font-size: large;
    border-style: solid;
    border-radius: 25px;
    padding: 15px;
  }
  
  .link:hover {
    color: chartreuse;
  }
  
  .container {
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
  }
  
  .video {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 20px;
  }
  
  .mini-perfil {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    gap: 10px;
    padding: 10px;
  }
  
  .mini-perfil p {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
  }
  
  .sociais {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  
  #naveg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgba(13, 24, 105, 0.89);
  }
  
  #div-links {
    display: flex;
    gap: 10px;
  }
  
  #area-pesq {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
    justify-items: center;
  }
  
  #pesquisa {
    padding: 10px;
    height: 30px;
    border-radius: 30px;
  }
  
  #envio {
    padding: 10px;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: rgba(13, 24, 105, 0.89);
  }
  
  #envio:hover {
    color: chartreuse;
    border-color: chartreuse;
  }
  
  #inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  
  #textos-apresent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
  }
  
  #textos-apresent h1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  #textos-introd {
    justify-items: center;
  }
  
  #textos-introd h1,
  p {
    margin-bottom: 25px;
  }
  
  #praticas {
    display: flex;
    align-items: center;
  }
  
  #alimentacao {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  #alimentacao ul li {
    text-align: justify;
    padding: 5px;
    margin-right: 20px;
  }
  
  #habitos {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  #textos_habitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  
  #textos_habitos ul li {
    text-align: justify;
    padding: 5px;
    margin-left: 20px;
  }
  
  #saudeMental {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
  }
  
  #textos_mental1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
    padding-top: 20px;
  }
  
  #textos_mental2 {
    display: flex;
    margin-top: 20px;
  }
  
  #mitos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  
  #intro_mitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    gap: 20px;
  }
  
  #mitos_perguntas {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #mitos_perguntas h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 0);
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    background-color: black;
    padding: 10px;
  }
  
  #mitos_respostas {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 10px;
    color: rgb(176, 8, 8);
    font-weight: bold;
    gap: 10px;
    padding-bottom: 15px;
  }
  
  #mitos_perguntas ol {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    padding: 10px;
    list-style-type: none;
    border-style: solid;
  }
  
  #verdades {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  #verdades_perguntas {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #verdades_perguntas h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(2, 237, 2);
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 10px;
    background-color: black;
  }
  
  #verdades_perguntas ol {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    padding: 10px;
    list-style-type: none;
    border-style: solid;
  }
  
  #verdades_respostas {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(1, 84, 1);
    font-weight: bold;
    gap: 10px;
  }
  
  #contato {
    padding: 35px;
  }
  #contato h2 {
    text-align: justify;
    padding-bottom: 10px;
  }
  #contato form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-style: solid;
    box-shadow: black 10px 16px 30px;
    padding: 10px;
  }
  
  #contato form input,
  #contato form select,
  #contato form textarea,
  #contato form button {
    border-width: 2px;
    border-color: black;
    padding: 10px;
  }
  
  #contato form label {
    font-weight: bolder;
  }
  
  #contato form button {
    color: white;
    background-color: black;
  }
  
  #contato form button:hover {
    color: black;
    background-color: white;
  }
  
  #resultForm h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #redes_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  #redes_foot a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    gap: 20px;
    align-items: center;
    background-color: rgb(0, 11, 88);
  }
  
  footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer a:hover {
    color: black;
  }
  
  @media screen and (min-width: 1px) and (max-width: 480px) {
    body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: xx-large;
    }
  
    body img {
      min-width: 100%;
      height: auto;
    }
  
    #inicio {
      flex-direction: column;
    }
  
    #textos-introd {
      flex-direction: column;
    }
  
    #praticas {
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    #alimentacao {
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    #habitos {
      flex-direction: column-reverse;
    }
  
    #saudeMental {
      flex-direction: column;
    }
  
    .container {
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    #mitos {
      flex-direction: column;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: medium;
    }
  }
  